:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondayColor: hsl(187, 85%,43%);
    --gradientColor: linear-gradient(to right, hsl(187,85%, 43%), hsl(199,100%, 33%));
    --WhiteColor: hsl(0,0%,100%);
    --blackColor: hsl(201,33%,16%);
    --textColor: hsl(240,4%,36%);
    --WhiteColorDeam: hsl(0,0%,93%);
    --greyText: rgb(190,190,190);
    --inputColor:rgb(239,239,239);
    --bodyColor:rgb(240,240,246);
    --cardBG: rgb(225,225,235);
    --cardHover:rgb(255,255,255);
    
    
    }

    .main{
        width:100%;
    }
    .title{
        position: relative;
        width: max-content;
        color: var(--textColor);
        margin: 1rem 0;
        z-index:2;


    }
   .title ::after{

        position: absolute;
        background: var(--SecondayColor);
        height: 5px;
        width:120px;
        right: 0;
        bottom: 5px;
        z-index: -1;
    }
    
    .secContent{
        justify-content: center;
        
    }

    .singleDestination{
        height: 100%;
        display:grid;
        row-gap: 10px;
        border-radius: 10px;
        align-items: center;
        background: var(--cardBG);
        box-shadow: 0 2px 4px rgba(140,140, 141,0.549);
        overflow: hidden;
    }
    .singleDestination:hover{
        background: var(--cardHover);
        transition: .3s ease;
    }

    .imageDiv{
        height: 100%;
        width: 100%;
        overflow: hidden;

    }
    img{
       height: 100%;
       width: 100%;
       object-fit: cover;
       transition:2s ease ;
    }
    img:hover{
        transform: scale(1.6);
    }
    
    .cardInfo{
        padding: 1rem;
    }
    .destTitle{
        color: var(--blackColor);
        font-size: 1.25rem;
    }
    
    .continent{
        gap: 0.5rem;
        
    }
    .icon2{
        color: var(--blackColor);
        font-size: 20px;
    }
    .name{
        font-size: 14px;
        color: var(--textColor);
        font-weight: 400;

    }
    .fees{
        width: 100%;
        justify-content: space-between;
        padding: 1rem;
        margin: 1rem 0;
        border-top: 1.5px solid var(--greyText);
        border-bottom: 1.5px solid var(--greyText);
    }
    .grade{
        color: var(--textColor);
        max-width: 100px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    small{
        text-align: center;
        background: var(--gradientColor);
        border-radius: 1rem;
        color: var(--WhiteColor);
        padding: 1px 10px;
        font-size: 10px;
    }
    .price{
        font-size: 2rem;
        color: var(--blackColor);
    }
    .desc{

        font-size: 13.5px;
        color: var(--textColor);
        font-weight: 500;
    }
    .btn{
        margin-top: 1rem;
        color: var(--WhiteColor);
        font-weight: 600;
        justify-content: space-between;
        gap: 0.5rem;
    }
    .icon3{
        font-size: 20px;
        align-self: center;
    }
      .btn:hover{
        background-color: var(--SecondayColor);
        transition: 5;
    }
    